BW5_Quality_Analysis/Code/SharedResources/Schema/ValidateMetaDataDriven/RecordSet.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.hp.com/process/2013-04/MDD/RecordSet"
	 xmlns:ns0="http://partnerdc.hp.com/schema/simpleTypes"
	 targetNamespace="http://www.hp.com/process/2013-04/MDD/RecordSet"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="recordSet" type="RecordSet"/>
	<xs:complexType name="Record">
		<xs:sequence>
			<xs:element name="recordType" type="xs:string"/>
			<xs:element name="field" type="Field" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Field">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordSet">
		<xs:sequence>
			<xs:element name="record" type="Record" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>