Sadia/RETAIL/SCHEMAS/COUNTRY_TABLE.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/RETAIL/SCHEMAS/Schema1.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/RETAIL/SCHEMAS/Schema1.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SL_NO"/>
				<xs:element ref="COUNTRY"/>
				<xs:element ref="REGION"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SL_NO" type="xs:int"/>
	<xs:element name="COUNTRY" type="xs:string"/>
	<xs:element name="REGION" type="xs:string"/>
</xs:schema>